<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="KonexusModel" connectionString="data source=189.206.75.21;initial catalog=KONEXUS_DEPORTIVA_PRUEBAS;persist security info=True;user id=desarroller;password=@VueJS01#.;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>